name: GitHub Pages (deploy docs folder)


on:
push:
branches: [ main ]


permissions:
contents: read
pages: write
id-token: write


jobs:
build-and-deploy:
runs-on: ubuntu-latest
steps:
- name: Checkout
uses: actions/checkout@v4


- name: Setup Ruby
uses: ruby/setup-ruby@v1
with:
ruby-version: 3.1


- name: Install Jekyll
run: gem install bundler jekyll


- name: Build site
working-directory: ./docs
run: jekyll build --destination ../site


- name: Deploy to Pages
uses: peaceiris/actions-gh-pages@v4
with:
github_token: ${{ secrets.GITHUB_TOKEN }}
publish_dir: ./site